<header>
    <form action="/refresh" method="POST">
        <input type="image" src="../static/img/undo.png" alt="Favorieten">
    </form>
    <h1>Dinder</h1>
    <form action="/favorieten" method="POST">
        <input type="image" src="../static/img/diet.png" alt="Favorieten">
    </form>
</header>
