<nav>
    <ul>
        <li><img src="../static/img/bubble-chat.png" alt="chat"></li>
        <li><img src="../static/img/diet.png" alt="Favorieten"></li>
        <li><img src="../static/img/user (2).png" alt="profiel"></li>
    </ul>
</nav>