<main id="home">
    <section>
        <h1>Restaurant Matching</h1>
    </section>
    <div>
        <article>
            <img src="../static/img/eetcafe_klaas.jpg" alt="Interieur van Eetcafe Klaas">
            <h2>Eetcafé Klaas</h2>
            <p>&#8364; &#8364;</p>
            <ul>
                <li>Eetcafé</li>
                <li>Huiselijke sfeer</li>
                <li>Uitgeest</li>
            </ul>
            <p>Een fijne plek in Uitgeest om te genieten van goede wijnen, gin en tonics en mooie smakelijke gerechten voor een schappelijke prijs.</p>
        </article>
        <section>
            <ul>
                <li><img src="../static/img/undo.png" alt="Vorige"></li>
                <li><img src="../static/img/cancel.png" alt="Verwijderen"></li>
                <li><img src="../static/img/diet.png" alt="Opslaan"></li>
                <li><img src="../static/img/booking.png" alt="Reserveren"></li>
            </ul>
        </section>
    </div>
    <nav>
        <ul>
            <li><img src="../static/img/restaurant.png" alt="home"></li>
            <li><img src="../static/img/diet.png" alt="Favorieten"></li>
            <li><img src="../static/img/bubble-chat.png" alt="chat"></li>
            <li><img src="../static/img/user (2).png" alt="profiel"></li>
        </ul>
    </nav>
</main>