<main id="home">
    <header>
        <img src="../static/img/undo.png" alt="Vorigebtn">
        <h1>Restaurant Matching</h1>
        <img src="../static/img/filter.png" alt="Filter">
    </header>
    <article>
        <img src="../static/img/eetcafe_klaas.jpg" alt="Interieur van Eetcafe Klaas">
        <div>
            <div>
                <h2>Eetcafé Klaas</h2>
                <p>&#8364; &#8364;</p>
            </div>
            <ul>
                <li>Eetcafé</li>
                <li>Huiselijke sfeer</li>
                <li>Uitgeest</li>
            </ul>
            <p>Een fijne plek in Uitgeest om te genieten van goede wijnen, gin en tonics en mooie smakelijke gerechten voor een schappelijke prijs.</p>
            <ul>
                <li><img src="../static/img/cancel.png" alt="Verwijderen"></li>
                <li><img src="../static/img/diet.png" alt="Opslaan"></li>
            </ul>
        </div>
    </article>
    {{!-- <form action="/about" method="POST">
        Username : <input type="text" name="user"><br>
        Password : <input type="password" name="password"><br>
        <input type="submit">
    </form>         --}}
    <nav>
        <ul>
            <li><img src="../static/img/bubble-chat.png" alt="chat"></li>
            <li><img src="../static/img/diet.png" alt="Favorieten"></li>
            <li><img src="../static/img/user (2).png" alt="profiel"></li>
        </ul>
    </nav>
</main>